body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    padding:0;
    margin:0;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    border-bottom: 1px solid #fff;
    padding: 7px 0;
  }


}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

body {
  margin: 0;
  background: #000;
  background-size: cover;
}

.shop {
  display:inline-block;
}

.container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding: 0 2.55555em;
    overflow: hidden;  
}

video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bergdorf {
     position: relative;
    z-index: 1;
    padding: 79vh 1rem 0;
    font-size: .8em;
    @media screen and (max-width: 591px) {
    padding: 65vh 1rem 0;    
    }

   a {
    color:white;
    text-decoration:none;

  }
}

header {
  position:relative;
  z-index:1;
  padding: 3vh 1rem;
    font-size: .7em;

    .logo {
        position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    float:left;
    }

  a {
    color:white;
    text-decoration:none;
    margin: 1em;
  }
  nav.left {
  float:left;
  line-height: 3em;

  }

   nav.right {
  float:right;
      margin: 7px;

  svg {
        padding: 0px 15px 0 0;
    position: relative;
    display: block;
    float: left;
@media screen and (max-width: 591px) {
    float: none;
    display:inline;   
   padding: 0px 2px 0 0;
    margin: -2px 16px; 
    }

    }

    @media screen and (max-width: 591px) {
        width: 100%;
    }
  }

}


