<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <meta name="keywords" content="Mr Leight, Garrett Leight, Eyewear">
    <meta name="description" content="Mr Leight is an eyewear company">
    <meta property="og:locale" content="en_US">
    <meta property="og:keywords" content="Mr Leight, Garrett Leight, Eyewear">
    <meta property="og:description" content="Basektball Is Fun is a destination for culture and news in the world of basketball.">
    <link rel="canonical" href="https://basketball-is.fun">
    <meta property="og:url" content="https://basketball-is.fun">
    <meta name="twitter:card" content="summary_large">
    <meta name="twitter:site" content="@mr.leight">
<!--     <meta property="og:image" value=" https://bif-ball.s3.amazonaws.com/media/2/Logov3.png">
    <meta name="twitter:image" value=" https://bif-ball.s3.amazonaws.com/media/2/Logov3.png">
    <link rel="shortcut icon" href="/static/images/favi.png"> -->
  </head>
  <body>
    <%= yield %>
  </body>
</html>

