<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" color="#a2466c">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <meta name="keywords" content="Mr. Leight, Garrett Leight, Larry Leight, eyewear, sunglasses, eyeglasses, luxury, luxury experience, luxury eyewear, craftsmanship, legacy, heritage, California, design, Designed in California, Japan, handmade, handmade in Japan, limited edition, Bergdorf Goodman, exclusive, exclusively at Bergdorf Goodman">
    <meta name="description" content="Discover the world of Mr. Leight, available exclusively at Bergdorf Goodman in New York.">
    <link rel="shortcut icon" href="/images/favicon.png">
    <meta property="og:locale" content="en_US">
    <meta property="og:keywords" content="Mr. Leight, Garrett Leight, Larry Leight, eyewear, sunglasses, eyeglasses, luxury, luxury experience, luxury eyewear, craftsmanship, legacy, heritage, California, design, Designed in California, Japan, handmade, handmade in Japan, limited edition, Bergdorf Goodman, exclusive, exclusively at Bergdorf Goodman">
    <meta property="og:image" content="/images/mrleight.svg">
    <meta property="og:description" content="Discover the world of Mr. Leight, available exclusively at Bergdorf Goodman in New York.">
    <link rel="canonical" href="https://mrleight.com">
    <meta property="og:url" content="https://mrleight.com">
    <meta name="twitter:card" content="summary_large">
    <meta name="twitter:image" value="/images/mrleight.svg">

  </head>
  <body>
    <%= yield %>
  </body>
</html>

